#popular{
    display: flex;
    background-color: #F4D35E;
}

h2{
    background-color: #DCAB6B;
    padding-top: 30px;
}
article{
    background-color: #FAF0CA;
    margin: 25px;border-radius: 15%;
    
}
p{
    padding-left: 20px;
}
img{
    width: 8rem;
}